@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure full height is applied */
html, body {
    height: 100%;
}

/* Custom cursor and background */
body {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="32" width="32"><text y="26" font-size="24" transform="rotate(80 16 16)">🖌️</text></svg>'), auto;
    
    background-image: url('./icons/clip2.avif'); /* Ensure correct path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Optional: makes sure image doesn't tile */
}

  
